.topic{
    border-top: 1px inset orange;
    border-bottom: 1px inset orange;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    width: 50%;
    background-color: rgba(255, 166, 0, 0.150);
}
.topic:hover{
    background-color: rgba(255, 166, 0, 0.5);  
}
body{
    background-color: rgba(255, 255, 0, 0.466);
}
h2{
    font: 4vw Helvetica;
    font-variant: small-caps;
}
a:link{
    font-size: 3vw;
    color: rgb(255, 72, 0);
    text-decoration: none;
}
a:visited{
    color: rgb(255, 72, 0);
}
a:hover{
    text-shadow: 5px 2px 5px #929191;
    text-decoration: overline;
}
a:active{
    font-style: italic;
    background-color: #ccccccd3;
}

