h1{
    background-color:green;
    color:white;
}

h2{
    color: green;
}

body{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




